/* Our CSS file. */


.container{
width: 100%;
height: auto;
border: 1px solid gray;
background-color: rgb(189, 189, 189);

}

.row { 
    display: block;
    width: 90%;
    height: 300px;
    margin: 10px;
}

.column {
    display: inline-block;
    width: 40%;
    height: inherit;
    margin: 10px;
    float: left; 
    border: 1px solid rgb(209, 69, 69);
    position: absolute;
    

}

.ul{
    padding: 0;

}

